.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.query {
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  height: 200px;
  min-width: 200px;
  width: 100%;
  font-size: small;
}

.query:focus {
  outline: none;
}

.button {
  padding: 10px;
  border-radius: 20px;
  height: 40px;
  background-color: rgba(220, 18, 129, 0.2);
  margin-top: 2%;
  box-shadow: 2px 2px 5px black;
}

.button:hover {
  background-color: rgba(220, 18, 129, 0.5);
  color:whitesmoke;
  box-shadow: none;
  position: relative;
  top: 1px;
  left: 1px;
}