.nav {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: baseline;
  font-size: large;
  justify-content: space-between;
  box-shadow: 0px 0px 5px black;
  position: fixed;
  top:0;
  height: 60px;
  z-index: 100;
}

.directory, .logoHome {
  margin: 5px 10vw;
}

.logoHome img {
  width: 150px;
  position: relative;
  top: 5px;
}

.logoHome img:hover {
  position: relative;
  bottom: 2px;
  right: 2px;
  -webkit-filter: drop-shadow(2px 2px 1px rgb(182, 182, 182));
  filter: drop-shadow(2px 2px 1px rgb(182, 182, 182));
}

.directory {
  display: flex;
  justify-content: space-between;
  min-width: 15vw;
  max-width: min-content;
  position: relative;
  bottom: 5px;
}

.directory a {
  margin: 0 5px;
}

.directory a:hover {
  text-shadow: 0px 0px 5px grey

}

.git {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.git:hover {
  box-shadow: 0px 0px 5px gray;
}