.profile img{
  width: 100px;
  border-radius: 50px;
  box-shadow: 2px 2px 6px 2px black;
  transition: all 200ms ease-in-out;
}

.profile img:hover{
  transform: scale(1.1);
  box-shadow: 4px 4px 6px 2px black;
}

.profile img {
  border: 2px solid white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: fit-content;
  margin-top: 10%;
}

.linksContainer {
  background-color: rgba(220, 18, 129, 0.7);
  width: 80px;
  height: 40px;
  border-radius: 20px;
  margin-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6); 
}

.linksContainer div, .linksContainer a, .linksContainer svg {
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 15px;
  transition: all 200ms ease-in-out;
}

.linksContainer div:hover, .linksContainer a:hover, .linksContainer svg:hover {
  transform: scale(1.03); 
  box-shadow:0px 0px 3px 1px rgba(0, 0, 0, 0.8);
}

.linksContainer svg {
  border: 2px solid white;
  box-sizing: border-box;
  box-shadow:0px 0px 3px 1px rgba(0, 0, 0, 1);
}