@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Hind Siliguri', sans-serif;
  margin: 0;
  background-color: lightgray;
}

h1 {
  width:fit-content;
  margin: 10px auto;
  @apply text-4xl font-bold;
}

#directory {
  color: white;
}

#memberContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  @apply text-xl font-medium;
}

#content {
  padding: 60px 20px 20px;
}

#logo-main {
  width: 35%;
  margin: 2% auto;
}